head {
    background-color: blue;
}
header {
    text-align: center;
    background: url("images/snow.jpg");
    background-size: cover;
    color: black;
    width: 1000px;
}
image {
    font-family: 'Metal Mania';
    margin: 40px 0px 0px 0px;
    border: 7px solid white; 
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
ul {
    

}
a {
    color: black;
    text-align: center;
    background-size: cover;
}
h1 {
    text-align: center;
}
div {
    text-align: center;
}
body {
    margin-top: 0px;
   
    margin-right: 0px;

    margin-left: 0px;

    margin-bottom: 0px;
}
